
venv/
env/
ENV/
.venv/
.ENV/


__pycache__/
*.py[cod]
*$py.class


*.sqlite3


*.env
.env*


*.log


*.tmp
*.bak
*.swp
*.~*
*.sass-cache
*.coverage


staticfiles/
static_root/


media/
media_root/


.vscode/
.idea/
*.code-workspace


.DS_Store
Thumbs.db


coverage.xml
htmlcov/







node_modules/


*.tar.gz
*.zip
*.egg-info/
